# Feature Engineering

---

1. Import packages
2. Load data
3. Feature engineering

---

## 1. Import packages

In [1]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np # linear algebra
import matplotlib.pyplot as plt # data plot
import seaborn as sns # data visualization
import warnings
warnings.filterwarnings('ignore') # ignore warnings
%matplotlib inline

---
## 2. Load data

In [2]:
df = pd.read_csv('./clean_data_after_eda.csv')
df["date_activ"] = pd.to_datetime(df["date_activ"], format='%Y-%m-%d')
df["date_end"] = pd.to_datetime(df["date_end"], format='%Y-%m-%d')
df["date_modif_prod"] = pd.to_datetime(df["date_modif_prod"], format='%Y-%m-%d')
df["date_renewal"] = pd.to_datetime(df["date_renewal"], format='%Y-%m-%d')

In [3]:
df.head(3)

,Unnamed: 0,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,...,mean_3m_price_off_peak_var,mean_3m_price_peak_var,mean_3m_price_mid_peak_var,mean_3m_price_off_peak_fix,mean_3m_price_peak_fix,mean_3m_price_mid_peak_fix,mean_3m_price_off_peak,mean_3m_price_peak,mean_3m_price_mid_peak,churn
0,0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,...,0.131756,0.092638,0.036909,42.497907,12.218665,8.145777,42.629663,12.311304,8.182687,1
1,1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,...,0.147600,0.000000,0.000000,44.444710,0.000000,0.000000,44.592310,0.000000,0.000000,0
2,2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,...,0.167798,0.088409,0.000000,44.444710,0.000000,0.000000,44.612508,0.088409,0.000000,0

## Information about the Dataset

The dataset contains information about the PowerCo's customer churn, that is if a customer has switched to a different provided or not. The last column "churn" contains values 0: if a customer hasn't switched and 1: if a customer has switched providers. This column will serve as our target label with which we will train our model to predict, all other columns will be features used for training the model to predict the churn of each customer.

---

## 3. Feature engineering

### Difference between off-peak prices in December and preceding January

Below is the code created by your colleague to calculate the feature described above. Use this code to re-create this feature and then think about ways to build on this feature to create features with a higher predictive power.

In [4]:
price_df = pd.read_csv('price_data.csv')
price_df["price_date"] = pd.to_datetime(price_df["price_date"], format='%Y-%m-%d')
price_df.head()

,id,price_date,price_off_peak_var,price_peak_var,price_mid_peak_var,price_off_peak_fix,price_peak_fix,price_mid_peak_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0

In [5]:
# Group off-peak prices by companies and month
monthly_price_by_id = price_df.groupby(['id', 'price_date']).agg({'price_off_peak_var': 'mean', 'price_off_peak_fix': 'mean'}).reset_index()

# Get january and december prices
jan_prices = monthly_price_by_id.groupby('id').first().reset_index()
dec_prices = monthly_price_by_id.groupby('id').last().reset_index()

# Calculate the difference
diff = pd.merge(dec_prices.rename(columns={'price_off_peak_var': 'dec_1', 'price_off_peak_fix': 'dec_2'}), jan_prices.drop(columns='price_date'), on='id')
diff['offpeak_diff_dec_january_energy'] = diff['dec_1'] - diff['price_off_peak_var']
diff['offpeak_diff_dec_january_power'] = diff['dec_2'] - diff['price_off_peak_fix']
diff = diff[['id', 'offpeak_diff_dec_january_energy','offpeak_diff_dec_january_power']]
diff.head()

,id,offpeak_diff_dec_january_energy,offpeak_diff_dec_january_power
0,0002203ffbb812588b632b9e628cc38d,-0.006192,0.162916
1,0004351ebdd665e6ee664792efc4fd13,-0.004104,0.177779
2,0010bcc39e42b3c2131ed2ce55246e3c,0.050443,1.500000
3,0010ee3855fdea87602a5b7aba8e42de,-0.010018,0.162916
4,00114d74e963e47177db89bc70108537,-0.003994,-0.000001

Now it is time to get creative and to conduct some of your own feature engineering! Have fun with it, explore different ideas and try to create as many as yo can!

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14605 entries, 0 to 14604
Data columns (total 54 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      14605 non-null  int64
 1   id                              14605 non-null  object
 2   channel_sales                   14605 non-null  object
 3   cons_12m                        14605 non-null  int64
 4   cons_gas_12m                    14605 non-null  int64
 5   cons_last_month                 14605 non-null  int64
 6   date_activ                      14605 non-null  datetime64[ns]
 7   date_end                        14605 non-null  datetime64[ns]
 8   date_modif_prod                 14605 non-null  datetime64[ns]
 9   date_renewal                    14605 non-null  datetime64[ns]
 10  forecast_cons_12m               14605 non-null  float64
 11  forecast_cons_year              14605 non-null  int64
 12  forecast_discount_energy        14605 non-null  float64
 13  forecast_meter_rent_12m         14605 non-null  float64
 14  forecast_price_energy_off_peak  14605 non-null  float64
 15  forecast_price_energy_peak      14605 non-null  float64
 16  forecast_price_pow_off_peak     14605 non-null  float64
 17  has_gas                         14605 non-null  object
 18  imp_cons                        14605 non-null  float64
 19  margin_gross_pow_ele            14605 non-null  float64
 20  margin_net_pow_ele              14605 non-null  float64
 21  nb_prod_act                     14605 non-null  int64
 22  net_margin                      14605 non-null  float64
 23  num_years_antig                 14605 non-null  int64
 24  origin_up                       14605 non-null  object
 25  pow_max                         14605 non-null  float64
 26  mean_year_price_off_peak_var    14605 non-null  float64
 27  mean_year_price_peak_var        14605 non-null  float64
 28  mean_year_price_mid_peak_var    14605 non-null  float64
 29  mean_year_price_off_peak_fix    14605 non-null  float64
 30  mean_year_price_peak_fix        14605 non-null  float64
 31  mean_year_price_mid_peak_fix    14605 non-null  float64
 32  mean_year_price_off_peak        14605 non-null  float64
 33  mean_year_price_peak            14605 non-null  float64
 34  mean_year_price_mid_peak        14605 non-null  float64
 35  mean_6m_price_off_peak_var      14605 non-null  float64
 36  mean_6m_price_peak_var          14605 non-null  float64
 37  mean_6m_price_mid_peak_var      14605 non-null  float64
 38  mean_6m_price_off_peak_fix      14605 non-null  float64
 39  mean_6m_price_peak_fix          14605 non-null  float64
 40  mean_6m_price_mid_peak_fix      14605 non-null  float64
 41  mean_6m_price_off_peak          14605 non-null  float64
 42  mean_6m_price_peak              14605 non-null  float64
 43  mean_6m_price_mid_peak          14605 non-null  float64
 44  mean_3m_price_off_peak_var      14605 non-null  float64
 45  mean_3m_price_peak_var          14605 non-null  float64
 46  mean_3m_price_mid_peak_var      14605 non-null  float64
 47  mean_3m_price_off_peak_fix      14605 non-null  float64
 48  mean_3m_price_peak_fix          14605 non-null  float64
 49  mean_3m_price_mid_peak_fix      14605 non-null  float64
 50  mean_3m_price_off_peak          14605 non-null  float64
 51  mean_3m_price_peak              14605 non-null  float64
 52  mean_3m_price_mid_peak          14605 non-null  float64
 53  churn                           14605 non-null  int64
dtypes: datetime64[ns](4), float64(38), int64(8), object(4)
memory usage: 6.0+ MB

In [7]:
df.shape

(14605, 54)

In [8]:
df.drop(columns='Unnamed: 0', inplace=True) # drop the Unnamed column as it only contains the same information as our index

In [9]:
df.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,mean_3m_price_off_peak_var,mean_3m_price_peak_var,mean_3m_price_mid_peak_var,mean_3m_price_off_peak_fix,mean_3m_price_peak_fix,mean_3m_price_mid_peak_fix,mean_3m_price_off_peak,mean_3m_price_peak,mean_3m_price_mid_peak,churn
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,0.131756,0.092638,0.036909,42.497907,12.218665,8.145777,42.629663,12.311304,8.182687,1
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,0.147600,0.000000,0.000000,44.444710,0.000000,0.000000,44.592310,0.000000,0.000000,0
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,0.167798,0.088409,0.000000,44.444710,0.000000,0.000000,44.612508,0.088409,0.000000,0
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,0.148586,0.000000,0.000000,44.444710,0.000000,0.000000,44.593296,0.000000,0.000000,0
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,...,0.119906,0.101673,0.073719,40.728885,24.437330,16.291555,40.848791,24.539003,16.365274,0

In [10]:
monthly_price_by_id.head()

,id,price_date,price_off_peak_var,price_off_peak_fix
0,0002203ffbb812588b632b9e628cc38d,2015-01-01,0.126098,40.565969
1,0002203ffbb812588b632b9e628cc38d,2015-02-01,0.126098,40.565969
2,0002203ffbb812588b632b9e628cc38d,2015-03-01,0.128067,40.728885
3,0002203ffbb812588b632b9e628cc38d,2015-04-01,0.128067,40.728885
4,0002203ffbb812588b632b9e628cc38d,2015-05-01,0.128067,40.728885

In [11]:
jan_prices.head()

,id,price_date,price_off_peak_var,price_off_peak_fix
0,0002203ffbb812588b632b9e628cc38d,2015-01-01,0.126098,40.565969
1,0004351ebdd665e6ee664792efc4fd13,2015-01-01,0.148047,44.266931
2,0010bcc39e42b3c2131ed2ce55246e3c,2015-01-01,0.150837,44.444710
3,0010ee3855fdea87602a5b7aba8e42de,2015-01-01,0.123086,40.565969
4,00114d74e963e47177db89bc70108537,2015-01-01,0.149434,44.266931

In [12]:
dec_prices.head()

,id,price_date,price_off_peak_var,price_off_peak_fix
0,0002203ffbb812588b632b9e628cc38d,2015-12-01,0.119906,40.728885
1,0004351ebdd665e6ee664792efc4fd13,2015-12-01,0.143943,44.444710
2,0010bcc39e42b3c2131ed2ce55246e3c,2015-12-01,0.201280,45.944710
3,0010ee3855fdea87602a5b7aba8e42de,2015-12-01,0.113068,40.728885
4,00114d74e963e47177db89bc70108537,2015-12-01,0.145440,44.266930

In [13]:
df_merged = pd.merge(df, diff, on='id')
df_merged.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,mean_3m_price_mid_peak_var,mean_3m_price_off_peak_fix,mean_3m_price_peak_fix,mean_3m_price_mid_peak_fix,mean_3m_price_off_peak,mean_3m_price_peak,mean_3m_price_mid_peak,churn,offpeak_diff_dec_january_energy,offpeak_diff_dec_january_power
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,0.036909,42.497907,12.218665,8.145777,42.629663,12.311304,8.182687,1,0.020057,3.700961
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,0.000000,44.444710,0.000000,0.000000,44.592310,0.000000,0.000000,0,-0.003767,0.177779
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,0.000000,44.444710,0.000000,0.000000,44.612508,0.088409,0.000000,0,-0.004670,0.177779
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,0.000000,44.444710,0.000000,0.000000,44.593296,0.000000,0.000000,0,-0.004547,0.177779
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,...,0.073719,40.728885,24.437330,16.291555,40.848791,24.539003,16.365274,0,-0.006192,0.162916

## Average prices changes across different periods

We can enhance the feature developed by our colleague by calculating the average price changes across different individual periods, instead of the entire year

In [14]:
# Aggregate average prices per period by company
mean_prices_by_period = price_df.groupby(['id', 'price_date']).agg({
    'price_off_peak_var': 'mean',
    'price_off_peak_fix': 'mean',
    'price_peak_var': 'mean',
    'price_peak_fix': 'mean',
    'price_mid_peak_var': 'mean',
    'price_mid_peak_fix': 'mean'
}).reset_index()

In [15]:
# Calculate the mean difference between consecutive periods
mean_prices_by_period['off_peak_peak_var_mean_diff'] = mean_prices_by_period['price_off_peak_var'] - mean_prices_by_period['price_peak_var']
mean_prices_by_period['off_peak_peak_fix_mean_diff'] = mean_prices_by_period['price_off_peak_fix'] - mean_prices_by_period['price_peak_fix']
mean_prices_by_period['off_peak_mid_peak_var_mean_diff'] = mean_prices_by_period['price_off_peak_var'] - mean_prices_by_period['price_mid_peak_var']
mean_prices_by_period['off_peak_mid_peak_fix_mean_diff'] = mean_prices_by_period['price_off_peak_fix'] - mean_prices_by_period['price_mid_peak_fix']
mean_prices_by_period['peak_mid_peak_fix_mean_diff'] = mean_prices_by_period['price_peak_fix'] - mean_prices_by_period['price_mid_peak_fix']
mean_prices_by_period['peak_mid_peak_var_mean_diff'] = mean_prices_by_period['price_peak_var'] - mean_prices_by_period['price_mid_peak_var']

In [16]:
columns = [
    'id',
    'off_peak_peak_var_mean_diff',
    'off_peak_peak_fix_mean_diff',
    'off_peak_mid_peak_var_mean_diff',
    'off_peak_mid_peak_fix_mean_diff',
    'peak_mid_peak_fix_mean_diff',
    'peak_mid_peak_var_mean_diff'
]
df_merged = pd.merge(df_merged, mean_prices_by_period[columns], on='id')
df_merged.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,mean_3m_price_mid_peak,churn,offpeak_diff_dec_january_energy,offpeak_diff_dec_january_power,off_peak_peak_var_mean_diff,off_peak_peak_fix_mean_diff,off_peak_mid_peak_var_mean_diff,off_peak_mid_peak_fix_mean_diff,peak_mid_peak_fix_mean_diff,peak_mid_peak_var_mean_diff
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.0,...,8.182687,1,0.020057,3.700961,0.022581,16.226389,0.05444,24.339581,8.113192,0.031859
1,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.0,...,8.182687,1,0.020057,3.700961,0.022581,16.226389,0.05444,24.339581,8.113192,0.031859
2,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.0,...,8.182687,1,0.020057,3.700961,0.022581,16.226395,0.05444,24.339590,8.113195,0.031859
3,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.0,...,8.182687,1,0.020057,3.700961,0.022581,16.226395,0.05444,24.339590,8.113195,0.031859
4,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.0,...,8.182687,1,0.020057,3.700961,0.022581,16.226395,0.05444,24.339590,8.113195,0.031859

This feature may prove useful as it adds more granularity to the existing feature found useful by my colleague. Intead of looking at the difference across an entire year, we have created features that analyse mean average prices difference across specific periods (off_peak, peak, mid_peak). The dec-jan feature may reveal macro patterns that occur over an entire year, while the new features may show patterns on a micro scale between months.

## Max Price changes across periods and months

Another way we can enchance feature from our colleague is to look at the maximum change in prices across periods and months.

In [17]:
# Aggregate average prices per period by the company
mean_prices_by_month =  price_df.groupby(['id', 'price_date']).agg({
    'price_off_peak_var': 'mean',
    'price_off_peak_fix': 'mean',
    'price_peak_var': 'mean',
    'price_peak_fix': 'mean',
    'price_mid_peak_var': 'mean',
    'price_mid_peak_fix': 'mean'
}).reset_index()

In [18]:
# Calculate the mean difference between consecutive periods
mean_prices_by_month['off_peak_peak_var_mean_diff'] = mean_prices_by_month['price_off_peak_var'] - mean_prices_by_month['price_peak_var']
mean_prices_by_month['off_peak_peak_fix_mean_diff'] = mean_prices_by_month['price_off_peak_fix'] - mean_prices_by_month['price_peak_fix']
mean_prices_by_month['off_peak_mid_peak_var_mean_diff'] = mean_prices_by_month['price_off_peak_var'] - mean_prices_by_month['price_mid_peak_var']
mean_prices_by_month['off_peak_mid_peak_fix_mean_diff'] = mean_prices_by_month['price_off_peak_fix'] - mean_prices_by_month['price_mid_peak_fix']
mean_prices_by_month['peak_mid_peak_fix_mean_diff'] = mean_prices_by_month['price_peak_fix'] - mean_prices_by_month['price_mid_peak_fix']
mean_prices_by_month['peak_mid_peak_var_mean_diff'] = mean_prices_by_month['price_peak_var'] - mean_prices_by_month['price_mid_peak_var']

In [19]:
max_diff_across_periods_months = mean_prices_by_month.groupby('id').agg({
    'off_peak_peak_var_mean_diff': 'max',
    'off_peak_peak_fix_mean_diff': 'max',
    'off_peak_mid_peak_var_mean_diff': 'max',
    'off_peak_mid_peak_fix_mean_diff': 'max',
    'peak_mid_peak_fix_mean_diff': 'max',
    'peak_mid_peak_var_mean_diff': 'max'
}).reset_index().rename(
    columns={
        'off_peak_peak_var_mean_diff': 'max_off_peak_peak_var_monthly_diff',
        'off_peak_peak_fix_mean_diff': 'max_off_peak_peak_fix_monthly_diff',
        'off_peak_mid_peak_var_mean_diff': 'max_off_peak_mid_peak_var_monthly_diff',
        'off_peak_mid_peak_fix_mean_diff': 'max_off_peak_mid_peak_fix_monthly_diff',
        'peak_mid_peak_fix_mean_diff': 'max_peak__mid_peak_fix_monthly_diff',
        'peak_mid_peak_var_mean_diff': 'max_peak_mid_peak_var_monthly_diff'
    }
)

In [20]:
columns = [
    'id',
    'max_off_peak_peak_var_monthly_diff',
    'max_off_peak_peak_fix_monthly_diff',
    'max_off_peak_mid_peak_var_monthly_diff',
    'max_off_peak_mid_peak_fix_monthly_diff',
    'max_peak__mid_peak_fix_monthly_diff',
    'max_peak_mid_peak_var_monthly_diff'
]
df_merged = pd.merge(df_merged, max_diff_across_periods_months[columns], on='id')
df_merged.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,off_peak_mid_peak_var_mean_diff,off_peak_mid_peak_fix_mean_diff,peak_mid_peak_fix_mean_diff,peak_mid_peak_var_mean_diff,max_off_peak_peak_var_monthly_diff,max_off_peak_peak_fix_monthly_diff,max_off_peak_mid_peak_var_monthly_diff,max_off_peak_mid_peak_fix_monthly_diff,max_peak__mid_peak_fix_monthly_diff,max_peak_mid_peak_var_monthly_diff
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.0,...,0.05444,24.339581,8.113192,0.031859,0.06055,44.26693,0.146033,44.26693,8.145775,0.085483
1,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.0,...,0.05444,24.339581,8.113192,0.031859,0.06055,44.26693,0.146033,44.26693,8.145775,0.085483
2,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.0,...,0.05444,24.339590,8.113195,0.031859,0.06055,44.26693,0.146033,44.26693,8.145775,0.085483
3,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.0,...,0.05444,24.339590,8.113195,0.031859,0.06055,44.26693,0.146033,44.26693,8.145775,0.085483
4,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.0,...,0.05444,24.339590,8.113195,0.031859,0.06055,44.26693,0.146033,44.26693,8.145775,0.085483